.card-container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 25px;
  cursor:zoom-in;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translate(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05)
}